@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
    color: rgb(237, 27, 33);
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div h1 {
    color: rgb(237, 27, 33);
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

div form label {
    display: flex;
    flex-direction: column;
}

div form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

div form input {
    background: whitesmoke;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

div form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    border: none;
    border-radius: 32px;
    background: rgb(237, 27, 33);
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    
}

div form input[type="submit"]:hover {
    background: whitesmoke;
    color: rgb(237, 27, 33);
    box-shadow: 10px whitesmoke darkred, rgb(237, 27, 33);
}

.content .imgBox
{
    display: flex;
    justify-content: flex-end;
    min-height: 150px;
}

a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(237, 27, 33);
    transform: uppercase;
}

a:hover {
    color: darkred;

}

input[type="checkbox"] + label
{
    display: block;
    margin-top: 0.2em;
    cursor: pointer;
    padding: 0.2em;

}

input[type="checkbox"] + label:before
{
    content: "\2714";
    border: 0.1rem solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .3s;
}

input[type="checkbox"]:checked + label::before
{
    background: rgb(237, 27, 33);
    border-color: rgb(237, 27, 33);
    color: white;
}

input[type="checkbox"]:checked + label:active::before
{
    transform: scale(0);
}

input[type="checkbox"]
{
    display: none;
}

@media screen and (max-width: 991px)
{
    div{
        width: 100%;
    }
}