@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
}


header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(237, 27, 33);
}

header > .logo
{
    position: relative;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

header .barra
{
    position: relative;
    display: flex;
}

header .barra > li
{
    list-style: none;
}

header > .barra > li > a
{
    color: white;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transform: 10s;
    transition: uppercase;
}


div
{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    height: 100%;
}

h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: left;
}

.logo-img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(237, 27, 33);
    clip-path: circle(80% at left -20%);
}

table{
    padding-top: 15px;
    background: whitesmoke;
    color: rgb(237, 27, 33);
    position: relative;
    padding-left: 15px;
    height: 100%;

}

.content-table{
    padding-left: 15px;
    height: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: white;
    color: rgb(237, 27, 33);
    text-align: left;
    font-weight: bold;
}

.content-table th,
  .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: white;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(237, 27, 33);
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: rgb(237, 27, 33);
}

@media all and (max-width: 800px)
{
    .content-table{
        width: 100%;
    }
    .content-table thead{
        display: none;
        }

        .content-table, .content-table tbody, .content-table tr, .content-table td{
            display: block;
            width: 100%;
        }

        .content-table tr{
            margin-bottom: 15px;
        }

        .content-table td{
            text-align: right;
            padding-left: 50%;
            text-align: right;
            position: relative;
        }
        .content-table td::before{
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
        }
}